
@{
    ViewBag.Title = "Map";
    Layout = null;
}

 @*<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pollia</title>
  <link rel="stylesheet" type="text/css" href="http://localhost:32768/mapbox-gl.css" />
  <script src="http://localhost:32768/mapbox-gl.js"></script>
  <link rel="stylesheet" type="text/css" href="http://localhost:32768/mapbox.css" />
  <script src="http://localhost:32768/mapbox.js"></script>
  <script src="http://localhost:32768/leaflet-hash.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
</head>
<body>
  <h1 style="display:none;">OSM Liberty</h1>
  <div id='map'></div>
  <script>
    var q = (location.search || '').substr(1).split('&');
      var preference = //'raster';
      q.indexOf('vector') >= 0 ? 'vector' :
        (q.indexOf('raster') >= 0 ? 'raster' :
                  (mapboxgl.supported() ? 'vector' : 'raster'));
      
    if (preference == 'vector') {
      mapboxgl.setRTLTextPlugin('http://localhost:32768/mapbox-gl-rtl-text.js');
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'http://localhost:32768/styles/osm-liberty/style.json',
        center: [6.1, 90],
        hash: true
      });
      map.addControl(new mapboxgl.NavigationControl());
    } else {
        var map = L.mapbox.map('map', 'http://localhost:32768/styles/dark-matter.json', { zoomControl: false });
      new L.Control.Zoom({ position: 'topright' }).addTo(map);
      setTimeout(function() {
        new L.Hash(map);
      }, 0);
      $('.mapboxgl-ctrl.mapboxgl-ctrl-attrib').hide();
      $('.leaflet-control-attribution.leaflet-control').hide();
    }

      

      var placeData = {
          "type": "FeatureCollection",
          "features": [
              {
                  "type": "Feature",
                  "properties": {
                      "lat": 12.24762,
                      "lon": 109.197,
                      "code": "null",
                      "name": "Cafe, giải khát Ngọc Như",
                      "pLike": 0,
                      "imgUrl": "//poipic.coccoc.com/1000x750/poi/previews/20141022/3833-1294245a55b99034358e293d02d5fe4e.jpg",
                      "rating": 0,
                      "address": "Bình Trị Đông B, Q. Bình Tân, Tp. Hồ Chí Minh",
                      "creator": "quản lý",
                      "pageUrl": "",
                      "popular": 0,
                      "facebook": "",
                      "priority": 0,
                      "timeOpen": 0,
                      "instagram": "null",
                      "placeKind": "Café",
                      "timeClose": 0,
                      "noOfSearch": 0,
                      "description": "null",
                      "lastConfirm": "2018-02-17T19:29:13",
                      "serveStatus": 1
                  },
                  "geometry": {
                      "type": "Point",
                      "coordinates": [
                          106.60498047,
                          10.74094486
                      ]
                  }
              }
          ]
      };
  </script>
</body>
</html>*@


<!DOCTYPE html>
<html>
<head>
    <title>Pollia Map</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <style>
        body {
            margin: 0px;
        }

        img {
            /*float: left;
            padding-right: 10px;*/
        }

        p {
            font-size: 15px;
            line-height: 25px;
        }

        #wrapper {
            width: 715px;
        }

        #map {
            width: 100vw;
            margin: 0 auto;
            height: 100vh;
        }

        #controls {
            width: 100%;
            margin: 0 auto;
            padding: 15px;
        }

        #header {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .custom .leaflet-popup-tip,
        .custom .leaflet-popup-content-wrapper {
            background: #e93434;
            color: #ffffff;
        }

        .leaflet-popup-content {
            width: auto !important;
        }

        .custom-icon {
            border-radius: 50%;
            border: solid 4px dodgerblue;
        }

        .div-video {
            width: 20em;
            height: 31em;
            position: absolute;
            top: 0;
            right: 0;
        }
    </style>
</head>
<body>
    
    <div id="wrapper">
        <div id="map"></div>
    </div>

    <div id="video" class="div-video">
        <label style="color: white; font-weight:700" onclick="closeVideo(); $('#myVideo').trigger('click')">X</label>
        <video id="myVideo" width="320" height="450">
            <source src="~/Content/Video/la.mp4" type="video/mp4" />
            Your browser does not support HTML5 video.
        </video>
    </div>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        // Create Map Object
        var map = L.map('map', { center: [10.762622, 106.660172], zoom: 13 });

        // Add Tile Layer from MAPC and MassGIS
        L.tileLayer('http://localhost:32768/styles/dark-matter/{z}/{x}/{y}.png', {
            attribution: 'Tiles by <a href="http://mapc.org">Pollia</a>, New approach of Tourism Service',
            maxZoom: 17,
            minZoom: 9
        }).addTo(map);

        //$('.leaflet-control-attribution.leaflet-control').hide();
        var customIcon = L.icon({
            iconUrl: '//poipic5.coccoc.com/1000x750/poi/previews/20180202/21545-a9f59b1db4052a60442774025e4f9982.jpg',
            iconSize: [50, 50],
            popupAnchor: [0, -20],
            className: 'custom-icon'
        });

        var customIconStt = L.icon({
            iconUrl: 'https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-9/29216348_1525963937525530_8876284000183088267_n.jpg?oh=4fd793fe306e3caac14449aea331056a&oe=5B47F839',
            iconSize: [50, 50],
            popupAnchor: [0, -15],
            className: 'custom-icon'
        });

        var customPopup = "Sunshine <b onclick='showVideo()'>Nha Trang</b> ^^!<img src='http://joshuafrazier.info/images/maptime.gif' alt='maptime logo gif' width='250px'/>";

        // specify popup options 
        var customOptions =
            {
                'maxWidth': '500',
                'className': 'custom'
            }
        
        L.marker([10.75971127, 106.68814087], { icon: customIcon }).addTo(map).bindPopup("Toyota Bến Thành");
        L.marker([12.24718062, 109.19438660], { icon: customIconStt }).addTo(map).bindPopup(customPopup, customOptions);

        function showVideo() {
            $('#video').show();
        }

        function closeVideo() {
            $('#video').hide();
        }

        $('#myVideo').click(function () {
            if ($("#myVideo").get(0).paused) {
                $("#myVideo").get(0).play();
            } else {
                $("#myVideo").get(0).pause();
            }
        });
    </script>
</body>
</html>