<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>

    <!--<add name="PolliaEntities" connectionString="metadata=res://*/Models.PolliaEntities.csdl|res://*/Models.PolliaEntities.ssdl|res://*/Models.PolliaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TIENTP\SQLEXPRESS;initial catalog=Pollia;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PolliaEntities" connectionString="metadata=res://*/Models.PolliaEntities.csdl|res://*/Models.PolliaEntities.ssdl|res://*/Models.PolliaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THANGMDSE62304\SQLEXPRESS;initial catalog=Pollia;user id=sa;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  <!--<add name="PolliaEntities" connectionString="metadata=res://*/Models.PolliaEntities.csdl|res://*/Models.PolliaEntities.ssdl|res://*/Models.PolliaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TIENTP\SQLEXPRESS;initial catalog=Pollia;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="PolliaEntities" connectionString="Server=tcp:pollia.database.windows.net,1433;Initial Catalog=Pollia;Persist Security Info=False;User ID=pollia123;Password=qwe@6789;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>